* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html {
    --star-shadow: 0;
}

body {
    font-family: 'Bruno Ace SC';
    font-size: 16px;
}

.navbar {
    display: flex;
    padding: 10px;
    margin: 0px;
    background-color: transparent;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    margin-bottom: 10px;

}



nav {


    justify-content: right;

}

nav ul {

    list-style-type: none;
    margin-left: auto;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
}

body {
    background-color: #000;
    overflow: hidden;
    margin: 0;
    padding: 0;
}



p {
    color: #808080;
}


.header {

    background: linear-gradient(135deg, #100a1c, #512c63, #733C8D);



}

nav button {
    display: inline-block;
    background: transparent;
    font-family: 'Bruno Ace SC', cursive;
    padding: 7px;
    margin: 0px;
    border-radius: 10px;
    border: 1px solid transparent;
    color: rgb(234, 234, 234)
}

nav button:hover {
    background-color: rgb(49, 132, 242, 0.4);
    transition: background-color 0.5s;
}

nav button a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: inherit;
    text-decoration: none;
    color: #fdfafa;
    background-color: transparent;
    border: none;
}


.col {
    display: flex;
    align-items: center;
    min-height: 100vh;
    flex-basis: 100%;
    min-width: 300px;
    justify-content: space-around;
    color: #808080;
    animation: background-pan 10s linear infinite;
    background: linear-gradient(to right,
            #000000,
            #010f23,
            #02234d,
            #000000);
    background-size: 200%;

    white-space: nowrap;





}


.sub-col img {
    max-width: 100%;
    padding: 0px;

}

.sub-col h1 {
    display: flex;
    font-size: 4.3vw;
    line-height: 5.375vw;
    justify-content: center;
    color: #fff;
    text-shadow: 0 0 10px #000, 0 0 20px #000, 0 0 30px #000;

}

.sub-col h2 {
    display: flex;
    font-size: 2.15vw;
    line-height: 5.375vw;
    margin: 0px 1.075vw;
    justify-content: center;


}

.obey-nav {
    padding: 140px 5vw 0px 5vw;
}

#gallery-title {
    color: whitesmoke;
    font-size: 10vw;
    animation: vanish 3s forwards;
}

#gallery-sub-col {
    z-index: 2;
    position: absolute;
}

.elevated {
    z-index: 1;
}

/* Define a grid layout with 4 columns and 2 rows for the buttons */
.button-container {
    min-width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* 4 columns with equal width */
    grid-template-rows: repeat(2, auto);
    /* 2 rows with auto height */
    gap: 10px;
    /* Adjust the gap between buttons as needed */
    justify-items: center;
    align-items: center;
}



.button-container-2 {
    min-width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 4 columns with equal width */
    grid-template-rows: repeat(1, auto);
    /* 2 rows with auto height */
    gap: 10px;
    /* Adjust the gap between buttons as needed */
    justify-items: center;
    align-items: center;
}


.button-container button {
    height: 29vh;
    width: 29vh;
    display: none;
    border: solid 2px rgba(115, 111, 117, 0.333);
    transition: transform 0.5s, box-shadow 0.5s;
}

.button-container-2 button {
    height: 63vh;
    width: 45vh;
    display: none;
    border: solid 2px rgba(115, 111, 117, 0.333);
    border-radius: 10px;



}




/* ... Other CSS rules ... */

.button-container button:hover {
    box-shadow: 0px 0px 10px 10px rgba(136, 16, 196, 0.5);
    transform: scale(1.1);

}



/* Add styles for the product card */
.product-card {
    display: none;
    /* Initially hide the product card */
    position: absolute;
    top: 1%;
    /* Adjust the top position as needed */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(234, 234, 234, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
    /* Place it above the buttons */
}

/* Style for the product card content */
.product-card-content {
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
}

/* Style for the product image */
.product-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Style for the product title */
.product-title {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;

}

/* Style for the product description */
.product-description {
    font-size: 14px;
    margin-bottom: 10px;
    color: rgba(255, 255, 255, 0.8);
}

/* Style for the product price */
.product-price {
    font-size: 16px;
    color: black;
    margin-left: 1vw;
}

/* Style for the "Add to Cart" button */
.add-to-cart-button {
    border: none !important;
    cursor: pointer;
    background: transparent;
    max-height: 4vh;
    max-width: 4vh;
    display: block !important;
    margin-left: 1vw;
}

/* Show the product card on button hover */
.button-container-2 button:hover+.product-card,
.product-card:hover {
    display: block;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col-3 {
    display: flex;
    flex-direction: column;
    align-items: center;

    min-height: 100vh;
    flex-basis: 100%;
    min-width: 300px;
    justify-content: center;
    background: linear-gradient(90deg, #3f87a6, #ebf8e1, #f69d3c);
}




.container1 {


    align-items: center;
    max-width: 600px;
    margin: 8rem auto;
    padding: 20px;
    background-color: transparent;
    border-radius: 8px;
    box-shadow: 0 2px 6px #100a1c;
    text-align: center;
}

.container1 h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid white;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Bruno Ace SC', cursive;
    background-color: transparent;
}

.contact-form input:hover,
.contact-form textarea:hover {
    border-color: teal;
}


.contact-form textarea {
    resize: vertical;
    height: 150px;
    background-color: transparent;
}

.contact-form button {
    background-color: #100a1c;
    color: white;
    padding: 8px 30px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-family: 'Bruno Ace SC', cursive;
    font-size: 16px;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px #100a1c;
}


.contact-form button:hover {
    background-color: teal;
}


.rounded-corners {
    border-radius: 10px;
}

.rounded-corners img {
    border-radius: 10px;
    /* Adjust the border radius as needed */
}

/* Define a linear gradient background image */
.gradient-border {
    border-image: linear-gradient(to right, #a107e3, #f4812e);

    border-image-slice: 1;

    border-image-width: 2px;

    border-style: solid;

    padding: 10px;


}

.rounded-corners-gradient-borders {
    border: 4px solid transparent;
    border-radius: 10px;
    background-image: linear-gradient(to right, #a107e3, #f4812e);
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

.rounded-corners-gradient-bg {
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10%;

}

.wolf {
    background: linear-gradient(45deg, #5DD0E3 0%, #5DE35F 100%);
}

.owl {
    background: linear-gradient(45deg, #262226 0%, #F7EACC 100%);
}

.mystery {
    background: linear-gradient(45deg, #F48ACE 0%, turquoise 100%);
}



/* Add responsive styles using media queries */

/* For screens up to 768px */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbar ul {
        margin-top: 10px;
    }

    .navbar li {
        margin: 10px 0;
    }

    .col-2 {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .sub-col-2 h1 {
        font-size: 6vw;
    }

    .sub-col-2 h2 {
        font-size: 3vw;
    }
}



#stars,
#stars:after {
    content: "";
    position: absolute;
    width: 1px;
    /* Increase width */
    height: 1px;
    /* Increase height */
    background: transparent;
    box-shadow: var(--star-shadow);
    animation: twinkling 10s infinite;

}

.appear {
    display: inline-block !important;
    animation: appear 2s forwards;
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes background-pan {
    from {
        background-position: 0% center;
    }

    to {
        background-position: -200% center;
    }
}

@keyframes twinkling {

    0%,
    100% {
        opacity: 1;

    }

    50% {
        opacity: 0.1;

    }
}

@keyframes vanish {

    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }



}

.splash {
    animation: splash 3s linear forwards;
}

@keyframes splash {

    0%,
    100% {
        box-shadow: 0px 0px 0px 0px rgba(136, 16, 196, 0.184);

    }

    50% {
        box-shadow: 0px 0px 10px 30px rgba(136, 16, 196, 0.184);
    }



    75% {
        box-shadow: 0px 0px 40px 45px rgba(136, 16, 196, 0.184);
    }

}

@keyframes nebulaMove {
    0% {
        background-position: -200% 50%;
    }

    100% {
        background-position: 200% 50%;
    }
}

.nebula {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparent, rgba(0, 0, 80, 0.3), transparent);
    background-size: 300% 100%;
    animation: nebulaMove 30s linear infinite;
    z-index: 5;
    /* so that the blue transition is below the navbar but above the stars */
}

.star {
    position: absolute;
    background-color: #FFF;
    border-radius: 50%;
    opacity: 0.8;
    animation: shimmer 1.5s infinite alternate;
}

@keyframes shimmer {
    from {
        opacity: 0.2;
    }

    to {
        opacity: 0.8;
    }
}

.shooting-star {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    z-index: 9;
    animation: shootStar 2s ease-out forwards;
}

.streak {
    position: absolute;
    width: 100px;
    height: 3px;
    background: linear-gradient(to right, transparent, white);
    opacity: 0.8;
    top: 50%;
    left: 30px;
    transform: rotate(35deg);
    transform-origin: 0 0;
    animation: fadeOutStreak 1.5s ease-out forwards;
}

@keyframes shootStar {
    0% {
        top: 0;
        left: 0;
    }

    100% {
        top: 100vh;
        left: calc(100vw - 30px);
    }
}

@keyframes fadeOutStreak {
    0% {
        opacity: 0.8;
    }

    100% {
        opacity: 0;
    }
}
